* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 16px;
	font-family: 'Lato', sans-serif;
}

header {
    width: 100vw;
    height: 64px;
    background-color: #2842d7;
    position: fixed; 
    top: 0;
    left: 0;
    color: #a0ddda;
    text-align: center;
    display: flex;
    justify-content: center; 
    align-items: center;
}

main{
	display: flex;
	flex-direction: column;
}

#info_uno {
	width: 100vw;
	height: calc(100vh - 64px); /* 100% of the window height minus the height of the header  */
	background-color: #c9fcc7;
	/* position: fixed; */
	top: 64px;
	left: 0;
	display: flex;
	justify-content: center; 
	align-items: center;
}

#info_due {
	background-color: #2842d7;
}


svg {
	background-color: #a0ddda;
}

#space {
	background-color: #2842d7;
}

#info {
	background-color: #a0ddda;
	overflow: hidden;
	overflow-y: scroll;
	max-height: 600px;
	width: 400px;
}

.left {
    float: left;
}

.right {
    float: right;
}

li {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.select_button {
	background-color: #a0ddda;
	margin: 2px ;
}

.left_button {
    float: left;
	background-color: #a0ddda;
}
